<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Enable logging of JS-VM output. -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{hh:mm:ss.SSS} [%thread{10}] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
